<article class="how-block container mx-auto pt-10 px-4">
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 content-end gap-4">
    <div class="row-start-2 lg:row-start-1 content-end">
      <img
        src="/convocatoria/call-to-how.png"
        alt=""
        class="block w-full sm:w-1/2 lg:w-10/12 xl:w-full 2xl:w-10/12 mx-auto"
      />
    </div>
    <div class="row-start-1 lg:row-start-1 xl:col-span-2 xl:pl-10 grid md:grid-cols-2 lg:grid-cols-1 md:gap-10 pb-10">
      <div>
        <h3>Un modelo flexible dise침ado para tu 칠xito</h3>
        <p>
          El plan de estudios de <strong>B@UNAM</strong> est치 dividido en <strong
            >4 m칩dulos</strong
          > (equivalentes a semestres) e incluye <strong>24 asignaturas</strong>
          organizadas en cuatro 치reas clave:
        </p>
        <ul>
          <li>游댧 Ciencias naturales</li>
          <li>游늵 Matem치ticas</li>
          <li>游깴 Ciencias sociales</li>
          <li>游꿠 Humanidades</li>
        </ul>
        <h4>Aprendizaje paso a paso</h4>
        <p>
          Cada materia dura <strong>5 semanas</strong> y se estudia <strong>una a la vez</strong>, permiti칠ndote
          enfocarte completamente en cada tema.
        </p>
      </div>
      <div>
        <h3>Beneficios del modelo B@UNAM</h3>
        <ul>
          <li><strong>Sin horarios fijos</strong>: estudia en el momento que m치s te convenga.</li>
          <li><strong>Acompa침amiento constante</strong>: recibe asesor칤a de profesores en l칤nea y apoyo de tutores especializados.</li>
          <li><strong>Materiales digitales actualizados</strong>: accede a contenido multimedia, foros de discusi칩n y evaluaciones interactivas.</li>
          <li><strong>Trabajo colaborativo</strong>: interact칰a con compa침eros y desarrolla habilidades digitales esenciales.</li>
          <li><strong>Evaluaci칩n continua</strong>: obt칠n retroalimentaci칩n personalizada para mejorar tu desempe침o.</li>
        </ul>
      </div>
    </div>
  </div>
</article>
