<article class="call-to-what text-white-call py-20">
  <div class="w-full px-4 md:w-3/4 xl:w-2/3 mx-auto">
    <div>
      <h3>¿Qué es el Bachillerato a Distancia B@UNAM?</h3>
      <p>El <strong>Bachillerato a Distancia B@UNAM</strong> es un programa 100% en línea de la <strong>Universidad Nacional Autónoma de México (UNAM)</strong>, diseñado para <strong>mexicanos e hispanohablantes</strong> que viven fuera de México.</p>
      <p><strong>¡Estudia desde cualquier parte del mundo!</strong> Con una formación de alta calidad, este innovador programa te permite cursar el nivel medio superior con la flexibilidad que necesitas y el respaldo de una de las universidades más prestigiosas de Latinoamérica.</p>
      <p><strong>Prepárate para el futuro</strong> con un modelo educativo <strong>flexible e interdisciplinario</strong>, que impulsa el desarrollo de <strong>habilidades clave</strong> para la vida, el trabajo y la educación superior, todo a través de una <strong>plataforma digital interactiva</strong>.</p>
      <h4>¡Inscríbete y abre las puertas a nuevas oportunidades con B@UNAM!</h4>
    </div>
  </div>
</article>