<article class="call-to-what text-white-call py-20">
  <div class="w-full px-4 md:w-3/4 xl:w-2/3 mx-auto">
    <div>
      <h3>¿Qué es el Bachillerato a Distancia B@UNAM?</h3>
      <p>El Bachillerato a Distancia B@UNAM es un programa 100% en línea de la Universidad Nacional Autónoma de México (UNAM), diseñado para mexicanos e hispanohablantes que viven fuera de México.</p>
      <p>¡Estudia desde cualquier parte del mundo! Con una formación de alta calidad, este innovador programa te permite cursar el nivel medio superior con la flexibilidad que necesitas y el respaldo de una de las universidades más prestigiosas de Latinoamérica.</p>
      <p>Prepárate para el futuro con un modelo educativo flexible e interdisciplinario, que impulsa el desarrollo de habilidades clave para la vida, el trabajo y la educación superior, todo a través de una plataforma digital interactiva.</p>
      <h4>¡Inscríbete y abre las puertas a nuevas oportunidades con B@UNAM!</h4>
    </div>
  </div>
</article>