@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-call: 'Montserrat', sans-serif;
  --color-blue-call: oklch(38.1% 0.2363 266.3);
  --color-emerald-dark: oklch(68.07% 0.1255 170.97);
  --color-black-call: oklch(26.13% 0.0447 192.37);
  --color-emerald-light: oklch(89.29% 0.1699 169.35);
  --color-white-call: oklch(96.12% 0 0);
}

body {
  font-family: var(--font-call);
  color: var(--color-black-call);
  background-color: var(--color-white-call);
}

.header {
  background: url(/convocatoria/background-call.jpg) no-repeat bottom center fixed;
  background-size: cover;
}
.header span {
  display: block;
}

article, section.call-to {
  p, li, label, input, button {
    @apply text-lg md:text-base lg:text-xl leading-relaxed;
  }
  h2 {
    @apply my-6 text-2xl md:text-3xl lg:text-4xl font-semibold;
  }
  h3 {
    @apply my-6 text-xl md:text-2xl lg:text-3xl font-semibold;
  }
  h4 {
    @apply my-8 text-lg md:text-lg lg:text-xl font-semibold;
  }
}

article.why-block {
  h3, h4, strong {
    @apply text-emerald-dark;
  }
}

article.how-block {
  h3, h4, strong {
    @apply text-blue-call;
  }
}

article.call-to-what {
  background: url(/convocatoria/bg-call-what.jpg) no-repeat bottom center fixed;
  background-size: cover;
}

article.call-to-what strong {
  text-shadow: 2px 2px 2px rgba(75, 75, 75, 0.1);
}

article.call-to-register {
  background: url(/convocatoria/bg-call-register.jpg) no-repeat bottom center fixed;
  background-size: cover;
}