@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-call: 'Montserrat', sans-serif;
  --color-blue-call: oklch(38.1% 0.2363 266.3);
  --color-emerald-dark: oklch(68.07% 0.1255 170.97);
  --color-black-call: oklch(26.13% 0.0447 192.37);
  --color-emerald-light: oklch(89.29% 0.1699 169.35);
  --color-white-call: oklch(96.12% 0 0);
}

body {
  font-family: var(--font-call);
  color: var(--color-black-call);
  background-color: var(--color-white-call);
}

.header {
  background: url(/convocatoria/background-call.jpg) no-repeat bottom center fixed;
  background-size: cover;
}
.header span {
  display: block;
}