<section class="bg-emerald-dark lg:min-h-96">
  <div class="container mx-auto p-6 sm:p-10 md:p-16 lg:p-20">
    <!--<h2 class="text-white-call text-2xl lg:text-4xl font-semibold">Mientras tanto...</h2>-->
    <h3 class="text-white-call text-xl lg:text-2xl mt-2">Ten lista la <span class="text-white font-semibold">documentación</span> que vas a necesitar para completar tu registro</h3>
    <article class="text-white-call">
      <ul class="list-disc mt-8 ml-6">
        <li class="my-2">Certificado de secundaria (promedio mínimo de 7)</li>
        <li>Acta de nacimiento</li>
        <li class="my-2">CURP (en caso de nacionalidad mexicana)</li>
        <li class="my-2">Identificación oficial (ej: INE, pasaporte, matrícula consular)</li>
        <li class="my-2">Comprobante de domicilio en el extranjero (ej: pago de algún servicio: luz, teléfono, tarjeta bancaria)</li>
        <li class="my-2">Una fotografía a color (tamaño infantil o pasaporte)</li>
      </ul>
    </article>
  </div>
</section>