<footer class="bg-yellow-700">
  <div class="container mx-auto p-4 lg:p-2 py-6 text-white-call">
    <div class="md:flex">
      <div class="w-full md:w-1/3 lg:w-1/4">
        <h2 class="text-xs">Desarrollado por</h2>
        <a href="https://bunam.unam.mx/" class="inline-block mx-2"
          ><img
            src="/convocatoria/bunam_web.png"
            alt="Bachillerato a Distancia"
            width="134"
          /></a
        >
      </div>
      <div class="w-full md:w-2/3 lg:w-3/4 text-xs">
        <h3>Aviso</h3>
        <p>Coordinación de Universidad Abierta y Educación Digital de la UNAM. ©Todos los derechos reservados 2025. Hecho en México. Este sitio puede ser reproducido con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica, de otra forma, se requiere permiso previo por escrito de la Institución.</p>
        <p>Al navegar en este sitio, encontrará contenidos diseñados por académicos de la UNAM, denominados Recursos Educativos Abiertos (REA), disponibles para todo el público en forma gratuita. Los contenidos de cada REA son responsabilidad exclusiva de sus autores y no tienen impedimento en materia de propiedad intelectual; asimismo, no contienen información que por su naturaleza pueda considerarse confidencial y reservada.</p>
        <p>Los REA podrán ser utilizarlos sin fines de lucro, citando invariablemente la fuente y sin alterar la obra, respetando los términos institucionales de uso y los derechos de propiedad intelectual de terceros.</p>
      </div>
    </div>
  </div>
</footer>
