<div class="p-2 text-center md:text-left">
  <a href="https://www.unam.mx/" class="inline-block mx-2"
    ><img src="/convocatoria/logo_unam.png" alt="" width="217" /></a
  ><a href="https://cuaed.unam.mx/" class="inline-block mx-2"
    ><img src="/convocatoria/logo_cuaed.png" alt="" width="137" /></a
  ><a href="https://bunam.unam.mx/" class="inline-block mx-2"
    ><img
      src="/convocatoria/logo_bunam.png"
      alt="Bachillerato a Distancia"
      width="134"
    /></a
  >
</div>
