---
import HeadlineBlock from "./HeadlineBlock.astro"
---

<header class="header">
  <HeadlineBlock />
  <div class="container mx-auto md:min-h-96 p-4 my-10 grid">
    <div class="text-right sm:pt-16">
      <h1 class="font-semibold">
        <span class="text-2xl sm:text-3xl lg:text-4xl text-blue-call">Cursa en línea</span>
        <span class="text-2xl sm:text-3xl lg:text-4xl text-blue-call">y sin costo el</span>
        <span class="text-3xl sm:text-4xl lg:text-5xl text-gold-call my-4"
          >Bachillerato a Distancia</span
        >
        <span class="text-2xl sm:text-3xl md:text-4xl text-blue-call">de la UNAM</span>
      </h1>
    </div>
  </div>
</header>