<header class="header">
  <div class="container mx-auto min-h-96 p-4 grid md:grid-cols-2 content-end">
    <div>
      <img src="/convocatoria/call-to.png" alt="" class="block mx-auto -mb-4" />
    </div>
    <div class="text-right pt-16">
      <h1 class="font-semibold">
        <span class="text-6xl text-emerald-light">Cursa en línea</span>
        <span class="text-6xl text-white-call">y sin costo</span>
        <span class="text-4xl text-emerald-light mt-4"
          >el Bachillerato a Distancia</span
        >
        <span class="text-4xl text-white-call">de la UNAM</span>
      </h1>
    </div>
  </div>
</header>