---
import WhyBlock from "./bunam/WhyBlock.astro"
import WhatBlock from "./bunam/WhatBlock.astro"
import HowBlock from "./bunam/HowBlock.astro"
import RegisterBlock from "./bunam/RegisterBlock.astro"
---
<section class="info-block">
  <header class="bg-emerald-light py-10 xl:py-20 px-1 sm:px-2 lg:px-8">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl text-blue-call text-center font-semibold">B@UNAM: Tu puerta a una educación de calidad, sin fronteras</h2>
  </header>
  <WhyBlock />
  <WhatBlock />
  <HowBlock />
  <RegisterBlock />
</section>