---
import WhyBlock from "./bunam/WhyBlock.astro"
import WhatBlock from "./bunam/WhatBlock.astro"
import HowBlock from "./bunam/HowBlock.astro"
import TestimonialsBlock from '../components/TestimonialsBlock.astro';
---
<section class="info-block">
  <WhatBlock />
  <WhyBlock />
  <TestimonialsBlock />
  <HowBlock />  
</section>