<section class="testimonials bg-emerald-dark py-16">
  <h2 class="text-center text-4xl text-white-call font-semibold"> Esto es lo que dicen nuestros estudiantes</h2>
  <div class="grid grid-cols-4 my-16">
    <article class="p-4 text-center">
      <a href="" target="_blank" class="block relative group">
        <img src="/convocatoria/testimonials/call-galilea.jpg" alt="Galilea" />
        <div class="absolute inset-0 bg-emerald-light opacity-0 group-hover:opacity-50 transition-opacity"></div>
      </a>
    </article>
    <article class="p-4 text-center">
      <a href="https://youtu.be/LLP8oKSg9TM" target="_blank" class="block relative group">
        <img src="/convocatoria/testimonials/call-daniel.jpg" alt="Daniel">
        <div class="absolute inset-0 bg-emerald-light opacity-0 group-hover:opacity-50 transition-opacity"></div>
      </a>
    </article>
    <article class="p-4 text-center">
      <a href="" target="_blank" class="block relative group">
        <img src="/convocatoria/testimonials/call-alberta.jpg" alt="Alberta">
        <div class="absolute inset-0 bg-emerald-light opacity-0 group-hover:opacity-50 transition-opacity"></div>
      </a>
    </article>
    <article class="p-4 text-center">
      <a href="" target="_blank" class="block relative group">
        <img src="/convocatoria/testimonials/call-alex.jpg" alt="Alejandro">
        <div class="absolute inset-0 bg-emerald-light opacity-0 group-hover:opacity-50 transition-opacity"></div>
      </a>
    </article>
  </div>
</section>