---
import "../styles/global.css";
import HeaderBlock from "../components/HeaderBlock.astro";
import ScrollArrow from "../components/ScrollArrow.astro";
import FooterBlock from "../components/FooterBlock.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Bachillerato a Distancia B@UNAM</title>
	</head>
	<body>
		<HeaderBlock />
		<slot />
		<ScrollArrow />
		<FooterBlock />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
